.ddcarousel {
    &-module-pagination {
        &__container {
            display: flex;
            justify-content: center;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            bottom: var(--ddcarousel-pagination-bottom);
            width: fit-content;
        }

        &__dot {
            display: inline-block;
            background: var(--ddcarousel-dot-color);
            width: var(--ddcarousel-dot-size);
            height: var(--ddcarousel-dot-size);
            border-radius: var(--ddcarousel-dot-radius);
            margin: 0 var(--ddcarousel-dot-spacing);
            transition: 0.1s all ease-in-out;
            cursor: pointer;

            &[data-active="true"] {
                background: var(--ddcarousel-dot-color-active);
            }
        }
    }
}
