{
	"presets": [
		"@babel/preset-env"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"transform-minify-booleans",
		"minify-simplify",
		"minify-mangle-names",
		"remove-import-export",
		[
			"transform-remove-console",
			{
				"exclude": [
					"error",
					"warn"
				]
			}
		]
	],
	"comments": false
}