node_modules/
dist/
testing/
NOTES.md

# Windows
Thumbs.db
desktop.ini

# OS X
.DS_Store
.Spotlight-V100
.Trashes
._*

# TypeScript
*.tsbuildinfo
*.js.map
*.d.ts.map
dist/types/     # todo: for later when build types in dist

# Editors
.vscode/