html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif;
	position: relative;
	font-size: 16px;
	color: #333;
}

body.nav-opened::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(200, 200, 200, 0.7);
	height: 100%;
	opacity: 0;
	animation: fadeBackground 0.3s 1 forwards;
}

h1,
h2,
h3,
h4 {
	font-weight: 300;
	text-align: center;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.2rem;
}

a {
	color: #555;
	text-decoration: none;
}

p {
	line-height: 24px;
	text-align: center;
}

strong {
	font-family: Consolas, monospace;
	background: rgb(255, 239, 235);
	color: rgb(255, 104, 58);
	font-weight: 100;
}

h2 strong {
	font-family: inherit;
	font-size: inherit;
	background: none;
}

textarea {
	width: 100%;
	height: 150px;
	font-size: 0.8rem;
	font-family: Consolas, monospace;
	border: 1px solid #eee;
	background: #fafafa;
	padding: 12px;
}

textarea:focus {
	outline: 0;
	box-shadow: 0 0 3px 3px #ddd;
}

.center {
	text-align: center;
}

.container {
	width: 1140px;
	margin: 0 auto;
	padding: 0 12px;
}

button.btn,
input {
	border: 1px solid #ccc;
	background: #fafafa;
	font-size: 0.9rem;
	padding: 4px 14px;
	border-radius: 14px;
	margin-top: 4px;
}

button.btn:focus,
input:focus {
	outline: 0;
	box-shadow: 0 0 3px 3px #ddd;
}

nav.contents {
	position: fixed;
	width: 100%;
	z-index: 1000;
	background: #fff;
	height: 0;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

nav.contents.show {
	height: 390px;
	padding-top: 46px;
}

nav.contents ul {
	list-style: none;
	height: 100%;
	margin: 0;
	padding: 10px;
	overflow-y: scroll;
}

nav.contents ul li {
	padding: 6px 0;
}

#top {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2000;
	background: #fff;
	padding: 12px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	border-bottom: 1px solid #f8f8f8;
}

#toggle-nav {
	display: inline-block;
	font-weight: 600;
	text-transform: uppercase;
}

#toggle-nav .arrow {
	border: solid #000;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	vertical-align: top;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transition: all 0.3s ease-in-out;
	margin-top: 4px;
}

#toggle-nav,
#toggle-nav .arrow {
	color: #555;
	border-color: #555;
}

body.nav-opened #toggle-nav span {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	margin-top: 8px;
}

.carousel-section {
	padding: 200px 0;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
}

.carousel-section:nth-of-type(2n + 1) {
	background: #f1f1f1;
}

.ddcarousel {
	margin: 60px auto;
	box-shadow: 0 0 40px 10px #dedede;
}

.ddcarousel .box {
	text-align: center;
	font-size: 32px;
	color: #fff;
	padding: 70px 0;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.ddcarousel.vertical {
	height: 500px;
}

.ddcarousel.vertical .box {
	padding: 0;
	height: 100%;
}

.ddcarousel.centered,
.ddcarousel.autoHeight {
	box-shadow: none;
}
.ddcarousel-item .box {
	background: #8eb9e2;
}
.ddcarousel-item:nth-child(1) .box,
.ddcarousel-item:nth-child(6) .box {
	background: #8eb9e2;
}
.ddcarousel-item:nth-child(2) .box,
.ddcarousel-item:nth-child(10) .box {
	background: #639e64;
}
.ddcarousel-item:nth-child(3) .box,
.ddcarousel-item:nth-child(8) .box {
	background: #a57cc0;
}
.ddcarousel-item:nth-child(4) .box,
.ddcarousel-item:nth-child(9) .box {
	background: #b97a8b;
}
.ddcarousel-item:nth-child(5) .box,
.ddcarousel-item:nth-child(11) .box {
	background: #d6c089;
}
.ddcarousel-item:nth-child(7) .box,
.ddcarousel-item:nth-child(12) .box {
	background: #639e64;
}
.ddcarousel.autoHeight .ddcarousel-item:nth-child(1) .box {
	height: 300px;
}
.ddcarousel.autoHeight .ddcarousel-item:nth-child(2) .box {
	height: 100px;
}
.ddcarousel.autoHeight .ddcarousel-item:nth-child(3) .box {
	height: 200px;
}
.ddcarousel.autoHeight .ddcarousel-item:nth-child(4) .box {
	height: 120px;
}
.ddcarousel.autoHeight .ddcarousel-item:nth-child(7) .box {
	height: 210px;
}

.code-container {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}

.code-container div {
	padding: 0 12px;
	width: 50%;
}

.events-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.event-status li {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}

.events-list .status {
	display: inline-block;
	width: 38px;
	padding: 0 4px;
	background: #fff;
	font-size: 10px;
	transition: background 0.2s ease-in;
	margin-right: 7px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

.events-list li.active .status {
	background: #639e64;
	color: #fff;
}

@media (max-width: 1140px) {
	.container {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.code-container {
		flex-direction: column;
		-webkit-flex-direction: column;
	}
	.code-container div {
		width: 100%;
		flex: none;
	}
	.carousel-section {
		padding: 100px 0;
	}
}

@keyframes fadeBackground {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
