.ddcarousel { transition: height 0.3s ease-in-out; margin-bottom: 50px; }

.ddcarousel.full-width { width: 100%; }

.ddcarousel.ddcarousel-vertical .ddcarousel-stage { height: auto; flex-direction: column; -ms-flex-direction: column; -webkit-flex-direction: column; }

.ddcarousel.ddcarousel-vertical .ddcarousel-stage, .ddcarousel.ddcarousel-vertical .ddcarousel-item { width: 100%; }

.ddcarousel .ddcarousel-container { position: relative; width: 100%; height: 100%; overflow: hidden; }

.ddcarousel .ddcarousel-stage { display: flex; display: -ms-flexbox; display: -webkit-flex; position: absolute; height: 100%; backface-visibility: hidden; -moz-user-select: none; transition-timing-function: ease-out; }

.ddcarousel .ddcarousel-item { height: 100%; box-sizing: border-box; flex: 0 0 auto; -webkit-flex: 0 0 auto; }

.ddcarousel .ddcarousel-item img { width: 100%; height: auto; }

.ddcarousel .disabled .ddcarousel-item { pointer-events: none; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.ddcarousel button { display: inline-block; text-decoration: none; background: transparent; border: 0; font-size: 100%; font-family: inherit; cursor: pointer; overflow: visible; margin: 0; padding: 4px 8px; appearance: button; -webkit-appearance: button; }

.ddcarousel button:focus, .ddcarousel button:active { outline: 0; }

.ddcarousel .ddcarousel-dots { text-align: center; margin: 16px 0; }

.ddcarousel .ddcarousel-dots button { background: #ccc; width: 14px; height: 14px; border-radius: 50%; margin: 0 6px; opacity: 0.4; transition: 0.1s all ease-in-out; padding: 0; }

.ddcarousel .ddcarousel-dots button.active { opacity: 1; }

.ddcarousel .ddcarousel-nav { text-align: center; margin: 16px 0; }

.ddcarousel .ddcarousel-nav .ddcarousel-prev.inactive, .ddcarousel .ddcarousel-nav .ddcarousel-next.inactive { visibility: hidden; }

.ddcarousel .ddcarousel-urls { margin: 16px 0; }

.ddcarousel .ddcarousel-urls ul { list-style: none; margin: 0; padding: 0; display: flex; display: -ms-flexbox; display: -webkit-flex; }

.ddcarousel .ddcarousel-urls ul li { margin-right: 14px; }

.ddcarousel .ddcarousel-urls ul li:last-child { margin-right: 0; }
