.ddcarousel {
	transition: height 0.3s ease-in-out;
	margin-bottom: 50px;
	&.full-width {
		width: 100%;
	}
	&.ddcarousel-vertical {
		.ddcarousel-stage {
			height: auto;
			flex-direction: column;
			-ms-flex-direction: column;
			-webkit-flex-direction: column;
		}
		.ddcarousel-stage,
		.ddcarousel-item {
			width: 100%;
		}
	}
	.ddcarousel-container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.ddcarousel-stage {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		position: absolute;
		height: 100%;
		backface-visibility: hidden;
		-moz-user-select: none;
		transition-timing-function: ease-out;
	}
	.ddcarousel-item {
		height: 100%;
		box-sizing: border-box;
		flex: 0 0 auto;
		-webkit-flex: 0 0 auto;
		img {
			width: 100%;
			height: auto;
		}
	}
	.disabled {
		.ddcarousel-item {
			pointer-events: none;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
	button {
		display: inline-block;
		text-decoration: none;
		background: transparent;
		border: 0;
		font-size: 100%;
		font-family: inherit;
		cursor: pointer;
		overflow: visible;
		margin: 0;
		padding: 4px 8px;
		appearance: button;
		-webkit-appearance: button;
		&:focus,
		&:active {
			outline: 0;
		}
	}
	.ddcarousel-dots {
		text-align: center;
		margin: 16px 0;
		button {
			background: #ccc;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			margin: 0 6px;
			opacity: 0.4;
			transition: 0.1s all ease-in-out;
			padding: 0;
			&.active {
				opacity: 1;
			}
		}
	}
	.ddcarousel-nav {
		text-align: center;
		margin: 16px 0;
		.ddcarousel-prev.inactive,
		.ddcarousel-next.inactive {
			visibility: hidden;
		}
	}
	.ddcarousel-urls {
		margin: 16px 0;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			li {
				margin-right: 14px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
