$font-family-base: "Nunito Sans", system-ui, sans-serif;
$font-family-code: "JetBrains Mono", Consolas, monospace;
$font-size-base: 16px;
$font-line-height: 1.4;
$font-size-h1: 1.8rem;
$font-size-h1-mobile: 1.2rem;
$font-size-h2: 1.6rem;
$font-size-h3: 1.15rem;
$font-size-h4: 0.86rem;

$color-text-light: #333;
$color-text-dark: #e8e8e8;
$color-text-muted-light: #777;
$color-text-muted-dark: #a3a3a3;
$color-text-muted-secondary-light: #999;
$color-text-muted-secondary-dark: #7f7f7f;
$color-accent-light: #6366f1;
$color-accent-dark: #818cf8;
$color-accent-background-light: #6365f144;
$color-accent-background-dark: #818cf833;
$color-link-light: $color-accent-light;
$color-link-dark: $color-accent-dark;
$color-border-light: #eee;
$color-border-dark: #343434;
$color-shadow-light: #ddd;
$color-shadow-dark: #0006;
$color-background-light: #fafafa;
$color-background-dark: #181818;
$color-background-hover-light: #f5f5f5;
$color-background-hover-dark: #232323;
$color-background-gradient-a-light: #6366f11e;
$color-background-gradient-b-light: #0ea5e918;
$color-background-gradient-c-light: #ec489913;
$color-background-gradient-a-dark: #818cf822;
$color-background-gradient-b-dark: #0ea5e91f;
$color-background-gradient-c-dark: #ec489917;
$color-carousel-background-light: #f1f1f1;
$color-carousel-background-dark: #222;
$color-carousel-autoplay-light: #333;
$color-carousel-autoplay-dark: #fff;

$border-radius: 4px;
$button-font-size: 0.9rem;
$button-border-radius: 14px;
$transition-default-speed: 0.15s;

$container-padding: 12px;

$container-width-desktop: 100%;
$container-width-tablet: 960px;
$container-width-mobile: 100%;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1300px;
